<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Quiz List</title>
</head>
<body>
<div align="center">
    <h1>Quiz List</h1>
    <a href="/new">Add new Quiz</a>
    <br/><br/>
    <table border="1" >
    	<thead>
            <tr>
                <th>Quiz ID</th>
                <th>Category</th>
                <th>Duration</th>
                <th>Marks</th>
                <th>Level</th>
                <th>Attempts</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="Quiz : ${listquiz}">
                <td th:text="${Quiz.Quiz_ID}">Quiz ID</td>
                <td th:text="${Quiz.Quiz_Name}">Quiz Name</td>
                <td th:text="${Quiz.Category}">Category</td>
                <td th:text="${Quiz.Duration}">Duration</td>
                <td th:text="${Quiz.Marks}">Marks</td>
                <td th:text="${Quiz.Level}">Level</td>
                <td th:text="${Quiz.Attempts_Available}">Attempts</td>
                <td>
                    <a th:href="@{'/edit/' + ${Quiz.Quiz_ID}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${Quiz.Quiz_ID}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>